* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  margin: 2rem 0;
}
.app {
  display: flex;
  flex-direction: column;
  margin: 10rem auto;
  align-items: center;
  width: 40rem;
}

.todoList {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  background-color:steelblue;
  margin-bottom: .5rem;
  color: #fff;
}

.center {
  text-align: center;
}

.btn-remove {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #fff;
  font-size: bold;
}

.btn-remove:hover {
 
  background-color: rgb(223, 238, 255);
}

.addTodos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.addTodos-input {
  width: 85rem;
  border: 2px solid steelblue;
  padding: 0 1rem;
}

.addTodos-add {
  width: 15%;
  height: 2rem;
  border: 2px solid steelblue;
  background-color: steelblue;
  color: #fff;
  font-size: bold;
}

.addTodos-add:hover {
  opacity: .9;
}